.App {
  text-align: center;
  
}
body {
  background-color: pink;
}

img {
  font-size: xx-large;
  height: 300px;
  border: radius 20px;
  width: 300px;
  border-radius: 200%;
  
}
bio{
  font-style: oblique;
  color: blueviolet;
}
